<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/playstore"
        android:label="TLU Contact"
        android:roundIcon="@drawable/icon_rounded"
        android:supportsRtl="true"
        android:theme="@style/Theme.TLUContact_canhan"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="31">
        <activity
            android:name="com.example.tlucontact_canhan.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.tlucontact_canhan.activity.UnitDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.example.tlucontact_canhan.activity.StaffDetailtActivity"
            android:exported="false" />
        <activity
            android:name="com.example.tlucontact_canhan.activity.StudentDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.example.tlucontact_canhan.activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name="com.example.tlucontact_canhan.activity.LoginActivity"
            android:exported="false" />
    </application>
</manifest>